body {
  text-align: center;
  background-color: #282c34;
}

.results {
  background-color: #282c34;
  min-width: 40vw;
  max-width: 40vh;
  color: white;
  border-radius: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: centre;
  margin: 0 auto;
}

input {
  width: 120px;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
}

input.invalid {
  border-color: red;
  background-color: lightcoral;
}

button {
  background-color: green;
  border-radius: 3px;
  color: white;
  border-style: none;
  font-weight: bold;
  padding: 0.8em;
  font-size: 16px;
}

button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

button:active {
  background-color: darkcyan;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 2vh;
  min-height: 70vh;
  background-color: white;
}

.App-footer {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  padding: 2vh;
}

a {
  color: white;
}

a:visited {
  color: lightgrey;
}

.App-link {
  color: #61dafb;
}